body {
  color: #000000;
}
body [ng\:cloak],
body [ng-cloak],
body [data-ng-cloak],
body [x-ng-cloak],
body .ng-cloak,
body .x-ng-cloak {
  display: none !important;
}
body .app-header {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #808080;
  background-color: #0094ff;
}
body .app-header h1 {
  margin: 0;
  color: white;
  font-weight: bold;
}
body .app-header .sub-title {
  color: white;
  font-weight: bold;
}
body .app-header .app-logo {
  border-radius: 32px;
  width: 64px;
  height: 64px;
  border: 3px solid black;
}
@media (max-device-width: 1024px) {
  body .app-logo-container {
    display: none;
  }
}
body .app-body {
  background-color: #808080;
}
body .app-body .no-padding {
  padding: 0;
}
body .app-body .no-padding .panel-body {
  padding-top: 0;
}
body .app-body .no-padding .panel-group {
  padding: 0;
  margin: 0;
}
body .app-body .no-padding .panel {
  border-radius: 0;
  background-color: white;
  margin: 0 !important;
}
body .app-body .no-padding .panel .panel-heading {
  border-radius: 0;
  background-color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094ff+0,ffffff+100 */
  background: #0094ff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0094ff 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0094ff 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0094ff 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body .app-body .no-padding .panel .panel-heading .panel-title {
  text-align: center;
}
body .app-body .no-padding .panel .panel-heading .panel-title .accordion-toggle span {
  display: inline-block;
  text-align: center;
  width: 100%;
}
body .app-body .no-padding .panel .match-placeholder {
  width: 100%;
  display: table;
}
body .app-body .no-padding .panel .match-placeholder h3 {
  color: white;
  font-weight: bold;
}
body .app-body .no-padding .panel .match-placeholder .cell_30 {
  display: table-cell;
  width: 30%;
}
body .app-body .no-padding .panel .match-placeholder .cell_30 .logo-table {
  display: table;
  margin: 0 auto;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
body .app-body .puppy-item-container {
  padding: 0;
  background-color: #ffffff;
}
body .app-body .puppy-item-container .puppy-item-column .lineup-item:first-child {
  border-top: 1px dashed #333;
}
body .app-body .puppy-item-container .puppy-item-column .lineup-item {
  border-bottom: 1px dashed #333;
  padding: 10px 0 0 0;
  cursor: pointer;
  text-transform: uppercase;
}
body .app-body .puppy-item-container .puppy-item-column .lineup-item:hover {
  /*background-color: orange;*/
}
body .app-body .puppy-item-container .puppy-item-column:first-child .lineup-item {
  border-right: 1px dashed #333;
}
body .logo-placeholder {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border-radius: 32px;
  background-position-x: center;
  background-position-y: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: white;
  border: 3px solid #333;
}
body .status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-left: 2px;
}
body .status-indeterminate {
  background-color: grey;
}
body .status-online {
  background-color: green;
}
body .status-offline {
  background-color: red;
}
body .inset-text-effect {
  display: inline-block;
  /*.box-sizing(content-box);*/
  border: none;
  /*font: normal 12px/1 "Aladin", Helvetica, sans-serif;*/
  color: #303030;
  text-align: center;
  text-transform: none;
  -o-text-overflow: clip;
  -ms-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}
