﻿<!DOCTYPE html>
<html manifest="appcache.manifest">
<head>
    <title>online dog-sheets</title>
    <link rel="icon" href="favicon.ico">
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/loading-bar.css" rel="stylesheet" />
    <link href="Content/app.css" rel="stylesheet" />

</head>

<body ng-app="app">
    <audio id="dizzy" src="Content/audio/ANightOfDizzySpells.mp3" preload="auto"></audio>
    <script type="text/ng-template" id="squadMembersModal">
        <div class="modal-header">
            <h3 class="modal-title">Select Team member</h3>
        </div>
        <div class="modal-body">
            <table class="table-bordered table-striped" style="width:100%">
                <tr ng-repeat="sMember in $parent.selectedTeam.SquadList">
                    <td style="width:30px;padding:10px;">
                        <div class="logo-placeholder-container">
                            <div style="" class="logo-placeholder" ng-style="{background:'url(data:png;base64,' + sMember.Image + ')'}"></div>
                        </div>
                    </td>

                    <td>
                        <h3 class="text-uppercase;">
                            {{sMember.Name}}
                        </h3>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="select()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="main" ng-controller="appController">

        <div ng-cloak class="container-fluid">
            <div class="row app-header">
                <div class="col-md-1 col-xs-1 app-logo-container">
                    <div class="app-logo" style="background-image:url('Content/img/apple-icon-76x76.png')"></div>
                </div>
                <div class="col-md-11 col-xs-11">
                    <div class="row">
                        <div class="col-md-11 col-xs-11">
                            <h1 class="title inset-text-effect">Puppies Playground</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-xs-11">
                            <div ng-cloak class="sub-title inset-text-effect">{{matchday.CompetitionTypeName}} - {{matchday.RoundName}} - {{matchday.Season}} - {{matchday.MatchDayName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row app-body">
                <div class="col-md-12 col-sx-12 no-padding">
                    <uib-accordion close-others="true">
                        <uib-accordion-group ng-repeat="match in matchday.Matches">
                            <uib-accordion-heading>
                                <div class="col-md-12 col-sx-12 " style="margin:0 auto; text-align:center;">
                                    <div class="match-placeholder">
                                        <div style="display:table-row;width:100%;">
                                            <div class="cell_30">
                                                <div class="logo-table">
                                                    <div style="display:table-row">
                                                        <div style="display: table-cell; padding-top:10px;">
                                                            <div class="logo-placeholder" ng-style="{background:'url(data:png;base64,' + match.AwayTeam.Image + ')'}"></div>
                                                        </div>
                                                    </div>
                                                    <div style="display:table-row">
                                                        <div style="display: table-cell">
                                                            <h3 class="inset-text-effect">{{match.AwayTeam.Name}}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="display:table-cell;"></div>
                                            <div class="cell_30">
                                                <div class="logo-table">
                                                    <div style="display:table-row">
                                                        <div style="display: table-cell">
                                                            <div class="logo-placeholder" ng-style="{background:'url(data:png;base64,' + match.HomeTeam.Image + ')'}"></div>
                                                        </div>
                                                    </div>
                                                    <div style="display:table-row">
                                                        <div style="display: table-cell">
                                                            <h3 class="inset-text-effect">{{match.HomeTeam.Name}}</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion-heading>

                            <div class="row puppy-item-container">
                                <div class="col-md-6 col-sx-6 puppy-item-column">
                                    <div class="row lineup-item" ng-click="openSelectMember(lg, match.AwayTeam, member)" ng-repeat="member in match.AwayTeam.LineUp">
                                        <table style="width:100%">
                                            <tr>
                                                <td style="width:30px;padding:10px;">
                                                    <div class="logo-placeholder-container">
                                                        <div class="logo-placeholder" ng-style="{background:'url(data:png;base64,' + getPuppyImage(match.AwayTeam, member) + ')'}"></div>
                                                    </div>
                                                </td>
                                                <td class="text-left" style="padding:10px;">
                                                    <h3 class="text-uppercase;">
                                                        {{getPuppyName(match.AwayTeam, member)}}
                                                    </h3>
                                                </td>

                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sx-6 puppy-item-column">
                                    <div class="row lineup-item" ng-click="openSelectMember(lg, match.HomeTeam, member)" ng-repeat="member in match.HomeTeam.LineUp">
                                        <table style="width:100%">
                                            <tr>
                                                <td class="text-right" style="padding:10px;">
                                                    <h3 class="text-uppercase;">
                                                        {{getPuppyName(match.HomeTeam, member)}}
                                                    </h3>
                                                </td>
                                                <td style="width:30px;padding:10px;">
                                                    <div class="logo-placeholder-container">
                                                        <div class="logo-placeholder" ng-style="{background:'url(data:png;base64,' + getPuppyImage(match.HomeTeam, member) + ')'}"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <div class="col-md-12 col-sx-12">
                </div>

            </div>
            <div class="row">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display:table-cell;">online:</div>
                        <div class="status-indicator status-{{Status.Name}}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display:table-cell;">
                            SoundTrack:
                            <a href="https://www.youtube.com/watch?v=IXxBwuEqr-M" target="_blank">A Night Of Dizzy Spells</a>
                            by <a href="http://ericskiff.com/" target="_blank">Erik Skiff</a>
                            under <a href="http://creativecommons.org/licenses/by/2.0/" target="_blank">CC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>
