﻿@import "vars.less";

body {
    color: @color-base;

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }

    .app-header {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #808080;
        background-color: @main-color;

        h1 {
            margin: 0;
            color: white;
            font-weight: bold;
        }

        .sub-title {
            color: white;
            font-weight: bold;
        }

        .app-logo {
            border-radius: 32px;
            width: 64px;
            height: 64px;
            border: 3px solid black;
        }
    }

    @media (max-device-width: 1024px) {
        .app-logo-container {
            display: none;
        }
    }

    .app-body {
        background-color: @backgroud-base-dark;


        .no-padding {
            padding: 0;

            .panel-body {
                padding-top: 0;
            }

            .panel-group {
                padding: 0;
                margin: 0;
            }

            .panel {
                border-radius: 0;
                background-color: white;
                margin: 0 !important;

                .panel-heading {
                    border-radius: 0;
                    background-color: white;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0094ff+0,ffffff+100 */
                    background: #0094ff; /* Old browsers */
                    background: -moz-linear-gradient(left, @main-color 0%, #ffffff 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, @main-color 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, @main-color 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    .panel-title {
                        text-align: center;

                        a {
                        }

                        .accordion-toggle {

                            span {
                                display: inline-block;
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }
                }

                .match-placeholder {
                    width: 100%;
                    display: table;

                    h3 {
                        color: white;
                        font-weight: bold;
                    }

                    .cell_30 {
                        display: table-cell;
                        width: 30%;

                        .logo-table {
                            display: table;
                            margin: 0 auto;
                            width: 200px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        .puppy-item-container {
            padding: 0;
            background-color: #ffffff;

            .puppy-item-column {
                .lineup-item:first-child {
                    border-top: 1px dashed @grey-choosed;
                }

                .lineup-item {
                    border-bottom: 1px dashed @grey-choosed;
                    padding: 10px 0 0 0;
                    cursor: pointer;
                    text-transform: uppercase;

                    &:hover {
                        /*background-color: orange;*/
                    }
                }
            }

            .puppy-item-column:first-child {
                .lineup-item {
                    border-right: 1px dashed @grey-choosed;
                }
            }
        }
    }

    .logo-placeholder {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        border-radius: 32px;
        background-position-x: center;
        background-position-y: center;
        background-size: 50px;
        background-repeat: no-repeat;
        background-color: white;
        border: 3px solid @grey-choosed;
    }

    .status-indicator {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 1px solid @grey-choosed;
        margin-left: 2px;
    }

    .status-indeterminate {
        background-color: grey;
    }

    .status-online {
        background-color: green;
    }

    .status-offline {
        background-color: red;
    }

    .inset-text-effect {
        display: inline-block;
        /*.box-sizing(content-box);*/
        border: none;
        /*font: normal 12px/1 "Aladin", Helvetica, sans-serif;*/
        color: rgba(48,48,48,1);
        text-align: center;
        text-transform: none;
        -o-text-overflow: clip;
        -ms-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.6), -1px -1px 1px rgba(0,0,0,0.67);
    }
}
